﻿@model TaskApplicatoin.Web.Models.UserTask.UserTaskDetailVM

@{
    ViewData["Title"] = "User Task Detail";
}

<h1>Detail</h1>

<div>
    <h4>User Task</h4>
    <hr />
    <form asp-action="Details">
        <dl class="row">
            @*<dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.UserId)
                </dd>*@

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TaskName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Priority)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TaskStatus)
            </dt>

            <dd class="col-sm-10">
                <div class="form-group">
                    <select class="form-control" asp-for="TaskStatus"
                            asp-items="Html.GetEnumSelectList<ApplicationCore.Enum.TaskStatusEnum>()">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="TaskStatus" class="text-danger"></span>
                </div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd class="col-sm-10">
                <div class="form-group">
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
            </dd>
            <dt class="col-sm-2">
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </dt>
            <dd class="col-sm-10">
                @{
                    if (Model.OldComments.Any())
                    {
                        foreach (var item in Model.OldComments)
                        {
                            <p>
                                @item
                            </p>
                        }
                    }
                }
            </dd>
        </dl>
    </form>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>*@ |
    <a asp-action="Index">Back to List</a>
</div>
