﻿@model TaskApplicatoin.Web.Models.Task.AssignUserVM

@{
    ViewData["Title"] = "Assign User";
}


<h4>Assign User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                @*<input asp-for="UserId" class="form-control" />*@
                <select class="form-control" asp-for="UserId" asp-items="@Model.UserList">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="TaskId" class="control-label"></label>
            <input asp-for="TaskId" class="form-control" />
            <span asp-validation-for="TaskId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedDate" class="control-label"></label>
            <input asp-for="UpdatedDate" class="form-control" />
            <span asp-validation-for="UpdatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="control-label"></label>
            <input asp-for="UpdatedBy" class="form-control" />
            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
