﻿@model IEnumerable<Models.ViewModel.TaskModel>

@{
    ViewData["Title"] = "Tasks";
}
<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<h1>Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
    
</p>
<div>
    <form asp-action="Index">
        <div class="form-group col-md-4">
            <label class="control-label"> Start Date</label>
            <input name="startDate" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label"> End Date</label>
            <input name="EndDate" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Priority</label>
            <select class="form-control" name="priority"
                    asp-items="Html.GetEnumSelectList<ApplicationCore.Enum.PriorityEnum>()">
                <option>Please select one</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label"> Status</label>
            <select class="form-control" name="taskStatus"
                    asp-items="Html.GetEnumSelectList<ApplicationCore.Enum.TaskStatusEnum>()">
                <option>Please select one</option>
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>
<table class="table" id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.StartDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.EndDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @*<td>
                        @item.CreatedDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @item.UpdatedDate?.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="AssignUser" asp-route-id="@item.Id">Assign User</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
